SEED_ADMIN=false
ADMIN_EMAIL=admin@nvs.proj
ADMIN_PASS=CHANGE_ME_ADMIN_PASSWORD
INITIAL_PASSWORD=CHANGE_ME_INITIAL_PASSWORD
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=CHANGE_ME_DB_PASSWORD
PGSSL=false
USE_FAKE_DB=false
